{
    "config": {
        "discard-changes": true
    },
    "repositories": [
        {
            "type": "path",
            "url": "/var/www/babylone-bundles/AlgoliaBundle"
        },
        {
            "type": "path",
            "url": "/var/www/babylone-bundles/ApiBundle"
        },
        {
            "type": "path",
            "url": "/var/www/babylone-bundles/CommonBundle"
        },
        {
            "type": "path",
            "url": "/var/www/babylone-bundles/JwtBundle"
        },
        {
            "type": "path",
            "url": "/var/www/babylone-bundles/RedisBundle"
        },
        {
            "type": "path",
            "url": "/var/www/babylone-bundles/SecurityBundle"
        },
        {
            "type": "path",
            "url": "/var/www/babylone-bundles/BorderlinxBundle"
        },
        {
            "type": "path",
            "url": "/var/www/babylone-bundles/TaxAndDutiesBundle"
        }
    ]
}
