{
    "config": {
        "discard-changes": true
    },
    "repositories": [
        {
            "type": "package",
            "package": {
                "name": "babylone/api-bundle",
                "version": "dev-develop",
                "source": {
                    "url": "https://github.com/Babylone-repo/api-bundle.git",
                    "type": "git",
                    "reference": "develop"
                },
                "autoload": {
                    "classmap": ["./"]
                }
            }
        },
        {
            "type": "package",
            "package": {
                "name": "babylone/algolia-bundle",
                "version": "dev-develop",
                "source": {
                    "url": "https://github.com/Babylone-repo/algolia-bundle.git",
                    "type": "git",
                    "reference": "develop"
                },
                "autoload": {
                    "classmap": ["./"]
                }
            }
        },
        {
            "type": "package",
            "package": {
                "name": "babylone/common-bundle",
                "version": "dev-develop",
                "source": {
                    "url": "https://github.com/Babylone-repo/common-bundle.git",
                    "type": "git",
                    "reference": "develop"
                },
                "autoload": {
                    "classmap": ["./"]
                }
            }
        },
        {
            "type": "package",
            "package": {
                "name": "babylone/jwt-bundle",
                "version": "dev-develop",
                "source": {
                    "url": "https://github.com/Babylone-repo/jwt-bundle.git",
                    "type": "git",
                    "reference": "develop"
                },
                "autoload": {
                    "classmap": ["./"]
                }
            }
        },
        {
            "type": "package",
            "package": {
                "name": "babylone/redis-bundle",
                "version": "dev-develop",
                "source": {
                    "url": "https://github.com/Babylone-repo/redis-bundle.git",
                    "type": "git",
                    "reference": "develop"
                },
                "autoload": {
                    "classmap": ["./"]
                }
            }
        },
        {
            "type": "package",
            "package": {
                "name": "babylone/security-bundle",
                "version": "dev-develop",
                "source": {
                    "url": "https://github.com/Babylone-repo/security-bundle.git",
                    "type": "git",
                    "reference": "develop"
                },
                "autoload": {
                    "classmap": ["./"]
                }
            }
        },
        {
            "type": "package",
            "package": {
                "name": "babylone/borderlinx-bundle",
                "version": "dev-develop",
                "source": {
                    "url": "https://github.com/Babylone-repo/borderlinx-bundle.git",
                    "type": "git",
                    "reference": "develop"
                },
                "autoload": {
                    "classmap": ["./"]
                }
            }
        },
        {
            "type": "package",
            "package": {
                "name": "babylone/taxandduties-bundle",
                "version": "dev-develop",
                "source": {
                    "url": "https://github.com/Babylone-repo/taxandduties-bundle.git",
                    "type": "git",
                    "reference": "develop"
                },
                "autoload": {
                    "classmap": ["./"]
                }
            }
        }
    ]
}
